  <div class="container">
    <div class="row">
      <div class='col-md-3'>
        <%# サイドブロック タグ %>
        <%= render 'public/articles/tag', tag: @tag %>
      </div>
      <%# メインブロッック　投稿一覧 
      <%= render 'public/articles/articles', article: @articles %>

    </div>
    <div class="pagination"><%= paginate @articles, class: 'text-light' %></div>

  </div>
