<main>
  <div class="container">
    <div class="row">
      <h1>Tags#show</h1>
      <p>Find me in app/views/tags/show.html.erb</p>

      <h2>Actions --></h2>
      <%= link_to 'Tags List', tags_path %>
      <%= link_to 'Delete', tag_path(@tag), method: :delete, data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'} %>

      <h2>Tag --></h2>

      <h3><%= @tag.tag_name %></h3>

      <ul>
        <% @tag.articles.each do |article| %>
          <li>
            <%= link_to article.title, admin_article_path(article) %>
          </li>
        <% end %>
      </ul>


    </div>
  </div>
</main>