<div class="tag-table">
  <h6>
    全てのタグから探す
    <%# タグ一覧推移 %>
    <%= link_to tags_path, class: "link" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  </h6>
  <%# 最近追加されたタグ6つ表示 %>
  <% @tags.each do |tag| %>
    <ul>
      <li>
        <%= link_to "#{tag.tag_name} ( #{tag.articles.count} )", tag_path(tag), class: "link" %>
      </li>
    </ul>
  <% end %>
</div>
