<main>
  <div class="container">
    <div class="row">
      <h1>articles#new</h1>
　　　<p>Find me in app/views/articles/new.html.erb</p>

　　　<h2>Actions --></h2>
　　　<%= link_to 'Top', root_path %>

　　　<h2>article --></h2>
　　　<%= form_with model: @article do |article| %>
 　　　　　　 <%= render 'fom', post: post %>

　　　<% end %>

    </div>
  </div>
</main>