<main>
  <div class="container">
    <div class="row">
      <% @article_tags.each do |tag| %>
        <%= link_to tag.tag_name,search_tag_path(tag_id: tag.id) %><%="(#{tag.articles.count})" %>
      <% end %>

    </div>
  </div>
</main>