<main>
  <div class="container">
    <div class="row">
      <h1>Tags#index</h1>
      <p>Find me in app/views/tags/index.html.erb</p>

      <h2>Actions --></h2>
      <%= link_to 'Top', root_path %>

      <h2>Tags --></h2>
        <ul>
          <% @tags.each do |tag| %>
            <li>
              <%= link_to "#{tag.tag_name} ( Posts: #{tag.articles.count} )", tag_path(tag) %>
            </li>
          <% end %>
        </ul>
        
    </div>
  </div>
</main>