<main>
  <div class="container">
    <div class="row">
      <div><%= link_to 'Tags List', tags_path %></div>
      <div><%= link_to 'Delete', tag_path(@tag), method: :delete, data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'} %></div>

      <h4>タグが<%= @tag.tag_name%>の投稿一覧</h4>

      <ul>
        <% @tag.articles.each do |article| %>
          <li>
            <%= link_to article.title, article_path(article) %>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</main>