@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -ms-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic Pro",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
  background: #fff;
  color: #333;
}

p,div,td,th,h1,h2,h3,ul {
  font-weight: normal;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  text-decoration-line: none;
}
.underline {
  text-decoration-line: underline;
  text-decoration-color: #333;
}
.bold {font-weight: bold;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.flex {display: flex;}
.align-center {
  align-items: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.inner {
  width: 840px;
  margin: 0 auto;
}
@media screen and (min-width: 769px) {
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }
  .sp {
    display: none;
  }
}
.section-ttl {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
    font-size: 3.3vw;
  }
  .pc {display: none!important;}
  .sp-column {flex-direction: column;}
  .inner {
    width: 90vw;
    margin: 0 auto;
  }
  .section-ttl {
    font-size: 6.5vw;
    padding-top: 5vw;
    margin-bottom: 3vw;
  }
}

main {
  padding: 30px 0;
}

header{
  height: 106px;
  width: 100%;
}

.header_inner{
  display: flex;
  justify-content: center;
}

.header_description{
  font-size: 13px;
  padding: 0px 15px;
}

.header_description, .icon{
  padding-top: 40px;
}

.logo, h6{
  padding-top: 9px;
}

.header_search{
  padding: 50px 100px;
}

footer {
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
  background-color: #f08080;
  line-height: 20px;
}


ul{
 display: flex;
}
li{
  list-style: none;
  margin-left: 10px;
}

.inner {
  width: 540px;
  margin: 0 auto;
  margin-bottom: 30px;

}

.inner-unsubscribe, .inner_tag, .inner_user, .inner_article{
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.bookmarks_inner, .inner_user_index, .inner_tag_index, .inner_books{
  width: 900px;
  margin: 0 auto;
  margin-bottom: 30px;
}


.section-ttl {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

nav{
  background-color: #f08080;
  margin: 0 auto;
  height: 60px;
 }

 p, .tag_delete, .rank{
  padding: 20px 20px 10px 10px;
  }

.mb2 {
  margin-bottom: 20px;
}

a.btn--radius {
  border-radius: 100vh;
  color: #fff;
  background-color: #f08080;
  margin: 2px 0;
}

.btn--radius{
  border-radius: 100vh;
  color: #fff;
  background-color: #f08080;
}

.image{
  border-radius: 20%;
}

.link{
  color: #800000;
}
.logo-link{
  color: #fff;
}

#alert{
  padding-left: 180px;
}

.col-md-3, .col-md-8, .unsubscribe, .user-index, .login,
.tag_show, .user_edit, .tag_index , .article, .books{
  background-color: #fff;
  border-top: 3px solid #bc8f8f;
  border-bottom: 3px solid #bc8f8f;
  padding: 10px;
}

.tag-table{
  font-size: 15px;
  padding: 20px 30px 0px 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #fffaf0;
}

.page a,
.next a,
.last a,
.first a,
.prev a {
  color: #800000;
  margin-left: 10px;
  margin-right: 10px;
}

.current {
  font-weight: bold;
}

