/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic Pro",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0;
  background: #fff;
  color: #333;

}
main {
  padding: 100px 0;
}

header{
  height: 150px;
}

.header_inner{
  display: flex;
  justify-content: center;
}

.header_description{
  padding-top: 50px;
}

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #ffdab9;
}


ul{
 display: flex;
}
li{
  list-style: none;
  margin-left: 10px;
}

.inner {
  width: 540px;
  margin: 0 auto;

}
.section-ttl {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
nav{
  background-color: #ffdab9;
  margin: 0 auto;
 }
 p {
  padding: 10px 20px 10px 10px;
  }

.mb2 {
  margin-bottom: 20px;
}


