<div class="container user-index">
  <div class="row">
    <div class="inner_user_index">
      <h4 class="section-ttl">ユーザー一覧</h4>
      <table class="table">
        <% @users.each do |user| %>
          <tbody>
            <tr>
              <%# アイコン %>
              <td><%= image_tag user.get_profile_image(80,80), class: "image" %></td>
              <td>
                <%# ユーザーネーム %>
                <%= link_to admin_user_path(user.id), class: "link" do %>
                  <%= user.name %>
                <% end %>
              </td>
              <%# ユーザーアカウントが有効かどうか確認　true = 有効 %>
              <% if user.is_active? %>
                <td class="text-success">有効</td>
              <% else %>
                <td class="text-secondary">退会</td>
              <% end %>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="pagination"><%= paginate @users %></div>

