<main>
  <div class="container">
    <div class="row">
      <h3><%= @user.name %>さんの情報</h3>

      <%= link_to "編集する", edit_public_user_path(@user.id) %>
      <%= link_to "退会する", public_unsubscribe_path(@user.id) %>
    </div>
  </div>
</main>